:root {
  --background: #f8fafc;
  --primary: #1e40af;
  --secondary: #cbd5e1;
  --accent: #0f172a;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.8em;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* use 200 to 1000 */
  /* font-weight: ;  */
  font-style: normal;
  background-color: var(--background);
  color: var(--accent);
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* use 100 to 900 */
  /* font-weight: ; */
  font-style: normal;
}

main section.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  padding: 20px;
  text-align: center;
  gap: 10px;
}

main section.links {
  display: flex;
}

section a.herobtn {
  background-color: var(--accent);
  color: var(--secondary);
  text-decoration: none;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;
}

section a.herobtn:nth-child(even) {
  background-color: var(--secondary);
  color: var(--accent);
}

main section.skills {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

main section.skills div {
  margin-top: 20px;
}

main section.skills > div p {
  display: inline;
  margin: 10px;
  background-color: var(--secondary);
  color: var(--accent);
  padding: 5px 10px;
  border-radius: 5px;
}

main section.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 20px 0;
}

main section.project > div {
  background-color: var(--accent);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding: 15px;
  width: 65vw;
  border-radius: 10px;
  margin-top: 15px;
}

main section.project div > a {
  font-size: 0.95rem;
  text-decoration: none;
  color: var(--secondary);
}

.content-project {
  color: var(--background);
}

main section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main section.contact h3 {
  padding-bottom: 10px;
}

main section.contact > div a {
  display: inline;
  margin: 10px;
  color: var(--primary);
}

main section.contact i {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  body {
    font-size: 1.1em;
  }

  main section.hero {
    display: grid;
    place-items: center;
  }

  main section.links {
    display: grid;
  }

  main section.project > div {
    width: 95%;
  }

  main section.project div > a {
    font-size: 0.75rem;
    line-height: 3;
  }

  .content-project {
    font-size: 0.8rem;
  }
}
